.card{
  width: 250px;
  margin: 3%;
}

.people-card{
  border: solid #76D7F2 3px;
}

.people-card .top-section{
  background-color: #76D7F2
}

.vehicle-card{
  border: solid 3px #27FF62;
}

.vehicle-card .top-section{
  background-color: #27FF62;
}

.planet-card{
  border: solid 3px #8000FF;
}

.planet-card .top-section{
  background-color: #8000FF;
}


.fav-btn{
  margin-left: 80px;
  width: 150%;
  padding: 1%;

}

.favorited{
  border:  #FFE400 solid 3px;
}

.name{
  margin: 0;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 35px;  
}

