h1{
  color: #FFE400;
  font-size: 100px;
  font-family: 'Pathway Gothic One', sans-serif;
  margin: 0;
  margin-bottom: 5%;
  line-height: 10px;
}

img{
  width: 10%;
  display: flex;
  justify-content: right;
  margin-bottom: 0;
  margin-left: 32%;
}

.favorite-btn{
  background-color: skyblue;
  font-size: 20px;
  width: 150px;
  border-radius: 0;
  border: none;
  margin: 1%;
  padding: 1% 0;
}

.btn-container{
  display: flex;
  justify-content: flex-end;
  margin: 0;
}