.card {
  width: 200px;
  height: 250px;
  margin: 3%;
  background-color: #FEFEFE;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px; }

.card p {
  font-size: 16px;
  color: #979797; }

.fav-btn {
  padding: 1%;
  border: none; }

.favorited {
  border: #FFE400 solid 3px; }

.name {
  margin: 0;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 30px;
  color: #979797; }

.fav-btn {
  padding: 3% 25%;
  color: #FEFEFE;
  position: relative;
  top: 30px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 24px; }

.icon {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position: center; }

.people-card .fav-btn {
  background-color: #76D7F2; }

.people-card .icon {
  background-image: url("./person.svg"); }

.planet-card .fav-btn {
  background-color: #AF2BBF; }

.planet-card .icon {
  background-image: url("./planet.svg"); }

.vehicle-card .fav-btn {
  background-color: #27FF62; }

.vehicle-card .icon {
  background-image: url("./vehicle.svg"); }
