.favorite-btn{
  background-color: #f3a633;
  color: #FEFEFE;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 30px;
  width: 175px;
  border-radius: 0;
  border: none;
  margin: 1%;
  padding: 1% 0;
}

.btn-container{
  display: flex;
  justify-content: flex-end;
  margin: 0;
}