.scrolling-opening{
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  border: yellow 10px solid;
  height: 98%;
  width: 98%;
  position: fixed;
}

.close-btn{
  background-color:red;
  color:white;
  display: flex;
  justify-content: left;
}

.crawl{
  position: relative;
  top: -100px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

@keyframes crawl {
	0% { top: 100%; }
	100% { top: -170%; }
}

.fade {
  position: relative;
  width: 80%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.scrolling-opening-text{
  color: white;
}

.scrolling-opening-title{
  color: white;
  font-size: 75px;
  font-family: 'News Gothic Std', sans-serif;
}

p{
  color: white;
  font-size: 30px;
  margin: 5%;
  font-family: 'News Gothic Std', sans-serif;
}

.hide-screen{
  display: none;
}


